<!-- Diseño de tarjeta pequeña -->
<div *ngIf="mode === 'small'" class="card-player player-small">
    <img appImgBroken [customImage]="'https://seeklogo.com/images/A/angular-logo-B76B1CDE98-seeklogo.com.png'" [src]="track.cover" [alt]="track.name" class="cover">
    <div class="content-player">{{track.name}}</div>
    <div class="buttons-player">
        <button *ngIf="true" class="play-btn">
            <i [ngClass]="{'uil uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>

<!-- Diseño de tarjeta grande -->
<div *ngIf="mode === 'big'" class="card-player player-big">
    <img appImgBroken [customImage]="'https://seeklogo.com/images/A/angular-logo-B76B1CDE98-seeklogo.com.png'" [src]="track.cover" [alt]="track.name" class="cover">
    <div class="content-player">
        <div class="title-card">{{track.name}}</div>
        <div class="sub-title-card">{{track.album}}</div>
    </div>
    <div class="buttons-player">
        <button *ngIf="true" class="play-btn">
            <i [ngClass]="{'uil uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>