<div class="play-list-body">
    <ul class="play-list-table-header">
        <li (click)="changeSort('name')">titulo <i class="uil uil-sort"></i></li>
        <li (click)="changeSort('album')" >álbum <i class="uil uil-sort"></i></li>
        <li>fecha incorporación</li>
        <li><i class="uil uil-clock-eight"></i></li>
    </ul>
    <ul class="play-list-rows" *ngFor="let track of tracks | sortList:optionSort.property:optionSort.order">
        <li class="track-name">
            <!--
                *ngTemplateOutlet="nombreTemplate;context:{clave:valor}"
                la propiedad context se utiliza para pasarle datos a un
                <ng-template> y utilizarlos allí según sea conveniente.
            -->
            <ng-container *ngTemplateOutlet="coverSection;context:{track:track}"></ng-container>
        </li>
        <li class="track-name-opacity">{{track.album}}</li>
        <li class="track-name-opacity">{{'17/11/2022'}}</li>
        <li class="track-name-opacity">03:50</li>
    </ul>
</div>

<!--
    Para utilizar los datos que se enviaron desde el ng-container
    es necesario utilizar la propiedad let-nombre="valor"> del
    ng-template
-->
<ng-template #coverSection let-track="track">
    <div class="cover-section">
        <img appImgBroken class="cover-track" [src]="track.cover" [alt]="track.name">
        <div class="cover-info">
            <div class="name-track">{{track.name}}</div>
            <div class="name-track-details">{{track.artist.name}}</div>
        </div>
    </div>
</ng-template>