<div class="login-auth-page">
    <div class="login-auth-wrapper">
        <h3>Para continuar, inicia sesión en Spotify.</h3>
        <div class="login-social-zone">
            <button class="social-btn btn-fb"><i class="uil uil-facebook-f"></i> Continuar con Facebook</button>
            <button class="social-btn btn-apple"><i class="uil uil-apple"></i> Continuar con Apple</button>
            <button class="social-btn"><button class="uil uil-google"></button> Continuar con Google</button>
        </div>
        <div class="separator"></div>
        <form action="" class="login-auth-form">
            <div class="form-group">
                <label for="email">Dirección de correo o nombre de usuario</label>
                <input type="text" name="email" id="email" class="form-input" placeholder="Dirección de correo o nombre de usuario">
            </div>
            <div class="form-group">
                <label for="passowrd">Contraseña</label>
                <input type="password" name="passowrd" id="password" class="form-input" placeholder="Ingresa tu contraseña">
            </div>
            <div class="form-steps">
                <a href="" class="link">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="form-action">
                <button class="login social-btn">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>