<div class="section--generic">
    <h1 class="section--generic__title">{{title}}</h1>
    <div class="section--generic__player--zone">
        <!--
             [ngClass] = "{'clase':variable === 'valor'}" condicional
             * agrega clases a un elemento de forma condicional
        -->
        <ul class="player--list" [ngClass]="{'card-small':mode === 'small', 'card-big':mode === 'big'}">
            <li *ngFor="let track of dataTracks">
                <app-card-player [mode]="mode" [track]="track"></app-card-player>
            </li>
        </ul>
    </div>
</div>
<!-- 
    En un ngFor que está manejando objetos se puede utilizar
    {{objeto | json }} para visualizar lo que este objeto trae,
    esto es una forma de debuguear
-->